/*
Theme Name:     Crowds Unite
Description:    Child theme for the Review Engine
Author:         Aleksandr Feldman version 1
Author URI:     http://aleksandrfeldman.com
Template:       review_engine_theme
*/

@import url("../review_engine_theme/style.css");

.find_filter {
    /*
    height:auto;
    float:left;
    display:inline;
    padding:10px;
    border-right:1px #B6C5C9 dotted;
    width:190px;
    */



    margin:10px 0px 0 0;            /* a buffer on top, between different type of filters*/
}

.find_filter ul {
    /*
    margin:0;
    */
    list-style:none;   /* no astericks */
    padding:0 0 0 5px;   /*  have the options a litle to the right of the categories */
}

.find_filter ul li {
    /*
    margin:0;
    padding:0 0 10px 10px;
    font:12px arial;
    color:#262A2B;
    display:block;
    */

}

.find_filter ul li a {
                 /*
    margin:0 0 0 20px;
    padding:0 0 0 10px;
    font:12px arial;
    color:#1793D3;
    text-decoration:none;
    background:url(images/li.png) no-repeat left;
   */
}

.find_filter ul li a:hover {
    /*
    text-decoration:underline;
    */
}

.scrollbar_cat_filter {
/*
    clear: both;
margin: 20px 0 10px;
*/

}

.scrollbar_cat_filter .viewport_filter {
/*
    overflow: hidden;
    position: relative;
     */


}
.scrollbar_cat_filter .overview_filter {
/*
    list-style: none; position: absolute; left: 0; top: 0;
*/
}

#compareBtn .btn:active, #compareBtn .btn.active{
    background-color: #49AFCD ;
}

/* needed for the auction widget to display correctly on page*/
#Widgets_on_Pages_1{
    width:230px;
}

#Widgets_on_Pages_1 ul{
    list-style-type: none; }
}